@import "vars";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  color: rgb(19, 19, 19);
}

/*DEFAULT STYLE*/
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #2e2e2e;
}

/*RULE THIS PAGE*/
.title {
  margin: 10px 0 100px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 1px;
}

.wrap {
  padding: 0 10px;
  font-family: "Raleway", sans-serif;
}

.row_title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.row_one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  .row_one_item {
    flex-basis: 250px;
    .btn {
      width: 100%;
      position: relative;
      padding: 15px 0;
      border: none;
      font-family: inherit;
      background-color: transparent;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all 200ms linear;
    }
    .btn-1 {
      color: $color-text;
      border: 1px solid lighten(#000, 70);
      font-weight: 300;
      &:hover {
        box-shadow: 0 0 1px 1px $btn_row-1;
        border-color: $btn_row-1;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }
    .btn-2 {
      background-color: transparent;
      border: 1px solid $btn_row-1;
      color: $color-text;
      &:hover {
        box-shadow: inset 0px 0px 0px 4px $btn_row-1;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 4px 4px  $focus;
      }
    }
    .btn-3 {
      border: 1px solid $btn_row-1;
      color: $color-text;
      &:hover {
        background-color: transparent;
        box-shadow: 0px 0px 0px 4px $btn_row-1;
        color:  $color-text;
        border-radius: 10px;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 4px 5px  $focus;
      }
    }
    .btn-4 {
      border: 4px solid $btn_row-1;
      color: $color-text;
      transition: all 250ms linear;
      &:hover{
        border-color:lighten($btn_row-1,20);
        box-shadow: 0px 0px 0px 4px $btn_row-1;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 4px 5px $focus;
      }
    }
  }
}

.row_two {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  .row_two_item {
    flex-basis: 250px;
    .btn {
      width: 100%;
      position: relative;
      padding: 15px 0;
      border: none;
      font-family: inherit;
      background-color: transparent;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all 200ms linear;
      &:before,
      &:after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
    .btn-1 {
      background-color: transparent;
      border: none;
      box-shadow: inset 0 0 0 4px #000;
      transition: color 250ms;
      &:before,
      &:after {
        width: 0;
        height: 0;
        border: 4px solid transparent;
      }
      &:before {
        left: 0;
        top: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }
      &:hover::before {
        border-top-color: $btn-row-2;
        border-right-color: $btn-row-2;
        transition: 
          width 250ms ease-out, 
          height 250ms ease-out 250ms;
      }
      &:hover::after {
        border-bottom-color: $btn-row-2;
        border-left-color: $btn-row-2;
        transition: 
          border-color 0s ease-out 500ms, 
          width 250ms ease-out 500ms, 
          height 250ms ease-out 750ms;
      }
    }
    .btn-2 {
      background-color: transparent;
      border: none;
      box-shadow: inset 0 0 0 4px #000;
      font-weight: 400;
      transition: color 250ms;
      &:before,
      &:after {
        width: 0;
        height: 0;
        border: 4px solid transparent;
      }
      &:before {
        top: 0;
        left: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }
      &:hover::before {
        border-top-color: $btn-row-2;
        border-right-color: $btn-row-2;
        transition: 
          width 300ms ease-out, 
      }
      &:hover::after {
        border-bottom-color: $btn-row-2;
        border-left-color: $btn-row-2;
        transition: 
          border-color 0s ease-out 300ms, 
          width 600ms ease-out 300ms, 
      }
    }
    .btn-3 {
      background-color: transparent;
      border: none;
      box-shadow: inset 0 0 0 4px #000;
      color: #000;
      transition: color 250ms;
      &:before,
      &:after {
        width: 0;
        height: 0;
        border: 4px solid transparent;
      }
      &:before {
        left: 0;
        top: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }
      &:hover {
        background-color: transparent;
        &:before,
        &:after {
          width: 100%;
          height: 100%;
        }
      }
      &:hover:before {
        border-top-color: $btn-row-2;
        border-right-color: $btn-row-2;
      }
      &:hover:before {
        border-bottom-color: $btn-row-2;
        border-left-color: $btn-row-2;
        transition: 
          border-color 0s ease-out 100ms,
          width 550ms ease-out 150ms, 
          height 250ms ease-out 750ms;
      }
    }
    .btn-4 {
      background-color: transparent;
      border: none;
      box-shadow: inset 0 0 0 4px #000;
      transition: color 250ms;
      overflow: hidden;
      &:before,
      &:after {
        width: 0;
        height: 0;
        border: 4px solid transparent;
      }
      &:before {
        left: 0;
        top: 0;
      }
      &:after {
        left: 0;
        bottom: 0;
      }
      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }
      &:hover::before {
        border-top-color: $btn-row-2;
        border-right-color: $btn-row-2;
        transition: 
          width 300ms ease-out, 
          height 300ms ease-out 300ms;
      }
      &:hover::after {
        border-bottom-color: $btn-row-2;
        border-left-color: $btn-row-2;
        transition: 
          width 300ms ease-out, 
          height 300ms ease-out 300ms;
      }
    }
  }
}

.row_three {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  .row_three_item {
    flex-basis: 250px;
    .btn {
      width: 100%;
      position: relative;
      padding: 15px 0;
      border: none;
      font-family: inherit;
      background-color: transparent;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all 200ms linear;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 200ms linear;
        z-index: -1;
      }
    }
    .btn-1 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      &::before{
        background-color: $btn-row-3;
        left: -100%;
      }
      &:hover {
        border-color: $btn-row-3;
        color: #fff;
        &::before{
          left: 0;
        }
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-2 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      &::before{
        background-color: $btn-row-3;
        top: -100%;
      }
      &:hover {
        border-color: $btn-row-3;
        color: #fff;
        &::before{
          top: 0;
        }
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-3 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      &::before{
        background-color: $btn-row-3;
        top: -100%;
        left: -100%;
      }
      &:hover {
        border-color: $btn-row-3;
        color: #fff;
        &::before{
          top: 0;
          left: 0;
        }
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-4 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      z-index: 2;
      &::before{
        top: -100%;
        background-color: $btn-row-3;
      }
      &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        height: 100%;
        background-color: $btn-row-3;
        z-index: -1;
        transition: inherit;
      }
      &:hover{
        color: #fff;
        border: 1px solid $btn-row-3;
        &::before{
          top: -50%;
        }
        &::after{
          bottom: -50%;
        }
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }
  }
}

.row_four {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
  .row_four_item {
    flex-basis: 250px;
    margin-bottom: 22px;
    .btn {
      width: 100%;
      position: relative;
      padding: 15px 0;
      border: none;
      font-family: inherit;
      background-color: transparent;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
      transition: all 200ms linear;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 200ms linear;
        z-index: -1;
      }
    }
    .btn-1 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      &:hover {
        transform: translateX(10px);
        box-shadow: 4px 5px 0 0 #000;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-2 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      &:hover {
        transform: translateY(-10px);
        box-shadow: 4px 5px 0 0 #000;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-3 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      &:hover {
        transform: rotate(5deg);
        box-shadow: 4px -5px 0 0 #000;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-4 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      z-index: 2;
      &:hover{
        transform: scale(1.04);
        box-shadow: 4px -5px 0 0 #000;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-5 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      z-index: 2;
      &:hover{
       animation: translateX-5 500ms linear infinite;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-6 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      z-index: 2;
      &:hover{
       animation: translateY-6 500ms linear infinite;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-7 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      z-index: 2;
      &:hover{
       animation: rotate-7 500ms linear infinite;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }

    .btn-8 {
      color: $color-text;
      border: 1px solid #000;
      font-weight: 700;
      overflow: hidden;
      z-index: 2;
      &:hover{
       animation: scale-8 500ms linear infinite;
      }
      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 2px $focus;
      }
    }
  }
}


//@keyFrames
@keyframes translateX-5{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(-5px);
  }
  75%{
    transform: translateX(5px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes translateY-6{
  0%{
    transform: translateY(0);
  }
  25%{
    transform: translateY(-5px);
  }
  75%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes rotate-7{
  0%{
    transform: rotate(0);
  }
  25%{
    transform: rotate(5deg);
  }
  75%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0);
  }
}

@keyframes scale-8{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}